#set( $appcatalogid = $context.getRequestParameter("appcatalogid"))

<h3>Add Application</h3>
	
#set( $appsearcher = $searcherManager.getSearcher("system","frontend") )

#set( $frontends = $appsearcher.query().all().sort("name").search($context) )
#foreach( $frontend in $frontends)
		<div class="app-option  align-items-center justify-content-between">
			<div class="p-2"><i class="bi bi-boxes fs-2"></i></div>
			<div class="app-nameplate me-auto">
				<div class="app-title">$frontend.name</div>
				<div class="app-subtitle">$frontend.longdescription</div>
			</div> 
			<div class="p-2">
			<a class="btn btn-primary learn-more"  
			href="$home$apphome/views/sites/addsiteconfirm.html?id=$frontend.id">Next <i class="bi bi-arrow-right"></i></a>
			</div>
		</div>
#end		

<div class="pt-4"><a href="$apphome/views/sites/index.html" class="btn btn-secondary ms-2">Cancel</a></div>